html, body {
    
    margin: 0;
  }
.userpage{
    background-color: black;  
    height: 100vh;
    min-height: 1000px;
    
    
}
.main-content{
  display: flex;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  min-height: 900px;
}

.browse-button{
    background-color: #148A08;
    color: white;
    border-radius: 38.8px;
    border: none;
    height: 40px;
    width: 200px;
    font-size: large;
    cursor: pointer;
    right: 5%;
    bottom: 2%;
}




/* 
.right-content{

    width: 30%;
    background-color: transparent;
    position: relative;
} */


.left-content{
    width: 70%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-content-top{
    display: flex;
    justify-content: space-between;
}

.left-content-top-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}